<!DOCTYPE html>
<html lang="en">

<head>
    <title>Accountants in Surrey </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


</head>

<body>

    <%- include('./partials/header') %>


    <!-- carousels -->
    <div class="container-fluid">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                    <img class="opacity-50" src="https://source.unsplash.com/random/1500x400/?UK" class="d-block w-100"
                        alt="...">
                    <div class="carousel-caption d-none d-md-block text-success bg-light">
                        <h2>
                            Book a Free Consultation Request a CallbackGet a Fixed Quote
                            Find out how to Make more, Keep more and Work less
                            Professional accountants serving the UK and helping small businesses to grow!

                        </h2>
                        <br>
                        <p>Whether you are an expanding company or just starting up, KAMP Accountants is here to help.
                        </p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img class="opacity-50" src="https://source.unsplash.com/random/1500x400/?accounts"
                        class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block text-success bg-light">
                        <h2 class="">
                            Book a Free Consultation Request a CallbackGet a Fixed Quote
                            Find out how to Make more, Keep more and Work less
                            Professional accountants serving the UK and helping small businesses to grow!

                        </h2>
                        <br>
                        <p>Whether you are an expanding company or just starting up, KAMP Accountants is here to help.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="opacity-50" src="https://source.unsplash.com/random/1500x400/?Accountants"
                        class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block text-success bg-light">
                        <h2>Book a Free Consultation Request a CallbackGet a Fixed Quote
                            Find out how to Make more, Keep more and Work less
                            Professional accountants serving the UK and helping small businesses to grow!</h2>
                        <br>
                        <p>Whether you are an expanding company or just starting up, KAMP Accountants is here to help.
                        </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container-fluid my-5">
        <div class="row">
            <div class="col-sm-3 mb-3 mb-sm-0">
                <div class="card bg-light my-3">
                    <div class="card-body">
                        <h5 class="card-title">GET FREE Consultation </h5>
                        <p class="card-text">Click the button below and get a free consultation with our professionals
                        </p>
                        <a href="#" class="btn btn-primary" id="sbtn">Go </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card bg-info my-3">
                    <div class="card-body">
                        <h5 class="card-title">Callback Request</h5>
                        <p class="card-text">We will call you back on your give information and solve your queries</p>
                        <a href="#" class="btn btn-primary" id="callbackbtn">Go </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card bg-danger my-3">
                    <div class="card-body">
                        <h5 class="card-title">Fixed Quote</h5>
                        <p class="card-text">Get all info about fixed quote, just you are one click away</p>
                        <a href="#" class="btn btn-primary">Go </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card bg-light my-3">
                    <div class="card-body">
                        <h5 class="card-title">Increased profits</h5>
                        <p class="card-text">Check for the increased profits, just you are one click away</p>
                        <a href="#" class="btn btn-primary">Go </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <!-- BREADCRUMB DIVIDER -->
    <div class="container-fluid">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Free consultation</li>
            </ol>
        </nav>
    </div>

    <div class="container-fluid">
        <h2 class="text-danger bold">Free No Obligation Consultation
        </h2>
        <br>
        <h4 class="text-danger"> Here's the deal...
        </h4>

        <p class="text-info ">
        <ul class="text-primary">
            <li>You can receive a FREE Initial Consultation. We will offer as much advice as we can.</li>
            <li>You'll receive a competitive fixed quote normally provided at the meeting for your consideration.</li>
            <li>We can either come to you to help us get a better understanding of your situation at first hand or if
                you prefer to visit us to see our set up, that's fine. You choose.
            </li>
            <li>The meeting is completely without obligation.
            </li>
        </ul>

        <br>
        <b>Please either contact us directly or complete and submit the form below.

        </b>
        </p>
    </div>

    <!-- form -->
    <form action="/" method="post" id="consultsection">
        <div class="container bg-light py-5 w-auto border border-2 rounded my-3 ">
            <div class="input-group mb-3">

                <input type="text" class="form-control" placeholder="Name" aria-label="name"
                    aria-describedby="basic-addon1" id="nameinp" required name="namecon">
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Company Name" aria-describedby="basic-addon2"
                    id="companyinp" required name="companycon">

            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">@</span>
                <input type="email" class="form-control" placeholder="E-mail" required name="emailcon">

                <input type="tel" class="form-control" placeholder="Phone" id="emailinp" required name="phonecon">
            </div>

            <div class="input-group">
                <span class="input-group-text">Address</span>
                <textarea class="form-control" aria-label="With textarea" id="addressinp" required
                    name="addresscon"></textarea>
            </div>

            <div class="input-group my-3">
                <span class="input-group-text">Message/Comments</span>
                <textarea class="form-control" aria-label="With textarea" id="messageinp" name="msgcon"></textarea>
            </div>

            <button class="btn btn-primary" id="requestbtn">Request Meeting</button>
        </div>
    </form>

    <!-- BREADCRUMB DIVIDER -->
    <div class="container-fluid my-5">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Contact us</a></li>
                <li class="breadcrumb-item active" aria-current="page">Callback Request</li>
            </ol>
        </nav>
    </div>

    <div class="container-fluid">
        <h2 class="text-danger bold">Request a Callback
        </h2>
        <br>
        <p class="text-primary"> Please use the form below to request a callback from a member of our team.
        </p>


         <p>Note:(That this form will be having same characteristics therefore, you can check consultation form as they both would work in a same manner and this form is not functional)</p>
        <form action="/" method="post" id="callbacksection">
            <div class="container bg-light py-5 w-auto border border-2 rounded my-3">
                <div class="input-group mb-3">

                    <input type="text" class="form-control" placeholder="Name" aria-label="name"
                        aria-describedby="basic-addon1" id="nameinp" required>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Phone" aria-describedby="basic-addon2"
                        id="companyinp" required>

                </div>

                <div class="input-group mb-3">

                    <select class="form-select" id="timeinps" aria-label="Example select with button addon">
                        <option selected>Best time to call you ( Please Select )</option>
                        <option value="1">Between 1PM and 5PM</option>
                        <option value="2">Between 5PM to 8PM</option>
                        <option value="3">Between 8PM to 12AM </option>
                    </select>
                </div>

                <textarea class="form-control" id="addssinp" required placeholder="Any message"></textarea>

                <button class="btn btn-primary my-3" id="sendbtn">Send</button>
            </div>
        </form>






</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/5.3.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

<script>
    let consultbtn = document.getElementById("sbtn");
    consultbtn.addEventListener("click", scrollbar);

    function scrollbar() {
        const section = document.getElementById('consultsection');

        window.scrollTo({
            top: section.offsetTop,
            left: 0,
            behavior: 'smooth'
        });
    }

    let callbackbtn = document.getElementById("callbackbtn");
    callbackbtn.addEventListener("click", scrolltocallback);

    function scrolltocallback() {
        const sectioncall = document.getElementById('callbacksection');

        window.scrollTo({
            top: sectioncall.offsetTop,
            left: 0,
            behavior: 'smooth'
        });
    }

</script>


</html>